---
import Layout from '../layouts/Layout.astro';
---

<Layout title="V2 Photo Justified Layout">
    <main>
        <div id="container">
            <div class="grid">
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0100.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3077.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2459.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2382.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1124.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1004.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1591.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0830.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0923.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0302.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1866.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A0273.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0109.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1605.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_1742.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2630.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W2920.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/CW0W3013.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0787.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A2335.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1648.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/HZ2A8854.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/DSC_0083.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
                <div class="grid-item">
                    <img src="https://www.hkbu.edu.hk/content/dam/hongkongbaptistuniversity/hkbu-assets/photo-gallery/events/2018/1109/668A1973.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" />
                </div>
            </div>
        </div>
    </main>
</Layout>

<style is:global>
    #container {
        margin: 0 auto;
        max-width: 922px;
        padding: 80px 0 150px;
    }
    .grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 9px;
        justify-content: space-between;
    }

    .grid-item {
        height: 0;
        overflow: hidden;
    }

    .grid-item img {
        width: 100%;
        display: block;
        background-color: #f5f8fa;
    }
</style>

<script type="module">
    class GridList {
        constructor(grid) {
            const imgData = [];
            for (let index = 0; index < 48; index++) {
                const imgUrl = 'img/hkbu-photos/' + (index + 1) + '.jpg';
                imgData.push(imgUrl);
            }
            this.grid = document.querySelector(grid);
            this.imgArray = imgData;
        }

        init() {
            this.createHTML();
        }

        createHTML() {
            let html = '';
            this.imgArray.forEach(function (item) {
                console.log(item);
                html += `<div class="grid-item">
                    <div class="pic">
                        <img src="https://www.hkbu.edu.hk/en${item}" />
                    </div>
                </div>`;
            });
            this.grid.innerHTML = html;
        }
    }

    // var gridList = new GridList('.grid');
    // gridList.init();

    class ImageLoader {
        constructor(itemArray) {
            this.itemArray = itemArray;
        }
        load() {
            const promises = this.itemArray.map((item, index) => {
                return new Promise((resolve) => {
                    const img = item.querySelector('img');
                    if (img.complete) {
                        const width = img.naturalWidth;
                        const height = img.naturalHeight;
                        item.style.setProperty('--ratio', width / height);
                        item.classList.add('loaded');
                        resolve(item);
                    } else {
                        img.addEventListener('load', () => {
                            const width = img.naturalWidth;
                            const height = img.naturalHeight;
                            item.style.setProperty('--ratio', width / height);
                            item.classList.add('loaded-' + index);
                            resolve(item);
                        });
                        img.addEventListener('error', () => {
                            item.remove()
                            resolve(null);
                        });
                    }
                });
            });
            return Promise.all(promises);
        }
    }

    /**
     * @param {string} grid
     * @param {string} item
     * @param {number} rHeight
     * @param {number} rHeightTolerance
     */
    function justifiedLayout(grid, item, rHeight, rHeightTolerance) {
        const container = document.getElementById('container');
        const containerWidth = container.clientWidth;
        const $grid = document.querySelector(grid);
        const $items = Array.from(document.querySelectorAll(item));
        const $gap = window.getComputedStyle($grid).rowGap;

        const gapValue = parseFloat($gap);

        const rowHeight = rHeight || 320;
        const rowHeightTolerance = rHeightTolerance || 0.25;
        const maxAspectRatio = (containerWidth / rowHeight) * (1 + rowHeightTolerance);

        let sumRatio = 0;
        let tempArray = [];
        const ratioArray = [];
        const rowArray = [];

        const updateItems = $items.filter((item) => {
            const result = item.classList.contains('grid-item-empty');
            if (result) {
                item.remove();
            }
            return !result;
        });

        const imageLoader = new ImageLoader(updateItems);
        imageLoader.load().then((items) => {
            items.forEach((item) => {
                if (item === null) {
                    return false;
                }
                let ratio = +item.style.getPropertyValue('--ratio');
                sumRatio += ratio;
                tempArray.push(item);

                if (sumRatio > maxAspectRatio) {
                    ratioArray.push(sumRatio);
                    rowArray.push(tempArray);
                    sumRatio = 0;
                    tempArray = [];
                }
            });
            if (tempArray.length > 0) {
                while (sumRatio < maxAspectRatio) {
                    const div = document.createElement('div');
                    div.className = 'grid-item grid-item-empty';
                    div.style.setProperty('--ratio', '1.5');
                    $grid.appendChild(div);
                    tempArray.push(div);
                    sumRatio += 1.5;
                }
                ratioArray.push(sumRatio);
                rowArray.push(tempArray);
            }

            rowArray.forEach((row, index) => {
                const heightArray = [];
                const adjustedContainerWidth = containerWidth - (row.length - 1) * gapValue;
                const ratioItem = ratioArray[index] > maxAspectRatio ? ratioArray[index] : maxAspectRatio;
                const widthRatio = adjustedContainerWidth / ratioItem;
                row.forEach((item) => {
                    item.style.height = '';
                    const width = (widthRatio * +item.style.getPropertyValue('--ratio')).toFixed(0) + 'px';
                    item.style.width = width;
                    const img = item.querySelector('img');
                    const height = img ? img.offsetHeight : window.innerHeight;
                    heightArray.push(height);
                });
                const minHeight = Math.min(...heightArray);
                row.forEach((item) => {
                    item.style.height = minHeight.toFixed(0) + 'px';
                });
            });
        });

        // const updateItems = $items.filter((item) => {
        //     const result = item.classList.contains('grid-item-empty');
        //     if (result) {
        //         item.remove();
        //     }
        //     return !result;
        // });

        // updateItems.forEach((item) => {
        //     const img = item.querySelector('img');
        //     img.addEventListener('load', function () {
        //         var width = img.naturalWidth;
        //         var height = img.naturalHeight;
        //         var ratio = img ? width / height : 1.5;
        //         item.style.setProperty('--ratio', ratio);
        //         sumRatio += ratio;
        //         tempArray.push(item);

        //         if (sumRatio > maxAspectRatio) {
        //             ratioArray.push(sumRatio);
        //             rowArray.push(tempArray);
        //             sumRatio = 0;
        //             tempArray = [];
        //         }
        //     });
        // });

        // updateItems.forEach((item) => {
        //     let ratio = +item.style.getPropertyValue('--ratio');
        //     console.log(ratio);
        //     sumRatio += ratio;
        //     tempArray.push(item);

        //     if (sumRatio > maxAspectRatio) {
        //         ratioArray.push(sumRatio);
        //         rowArray.push(tempArray);
        //         sumRatio = 0;
        //         tempArray = [];
        //     }
        // });
    }

    document.addEventListener('DOMContentLoaded', function () {
        justifiedLayout('.grid', '.grid-item', 320, 0.45);
    });

    window.addEventListener('resize', function () {
        justifiedLayout('.grid', '.grid-item', 320, 0.45);
    });
</script>
